<!DOCTYPE html>
<html>
<head>
    <title>Delete User Account</title>
</head>
<body>
    <h1>Delete User Account</h1>
    
    <form action="/delete" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Delete Account</button>
    </form>
</body>
</html>